@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    
        <p> <a href="https://cob.ohio.edu/mis4200team7/Account/Register" class="btn btn-link btn-group-lg">Register &raquo;</a> <a href=https://cob.ohio.edu/mis4200team7/Account/Login class="btn btn-link btn-group-lg">Login &raquo;</a></p>

</ul>
}
