@{
    ViewBag.Title = "About Centric Consulting";
}


<div class="jumbotron" style="background-color: darkslateblue">
    <h1>About Centric </h1>
    <p class="lead">Top consulting firm in the world.</p>
</div>

<img src="~/Images/downloadcentric.png" />

<br />
<br />
<p>
    The firm was founded in 1999.  Centric's motto is "be a good person, provide value, lead with your heart, care for others, and make time for those around you."They have over 1,000 employees. Their locations are in the United States and India. Centric brings a collaborative approach to problem-solving, knowing when to talk and when to listen
    an ideal blend of business and technology skills and a wide range of talent a seriousness about budgets and timelines with the same sensitivity we apply to our own business a team that stays with you every step of the way thanks to leading retention rates.
</p>


