
@{
    ViewBag.Title = "Contact Centric";
}

<h1>Contact Page</h1>


    <h2>Please Reach Out </h2>
<br />
<p>
    Centric Corporate
    <br />
    1215 Lyons Rd Bldg F
    Dayton, OH 45458-1858<br />
    P: 888.781.7567
</p>