
@{
    ViewBag.Title = "Contact Centric";
}

<h2>Contact</h2>


    <h1>Please Reach Out </h1>
<br />
<p>
    Centric Corporate
    <br />
    1215 Lyons Rd Bldg F
    Dayton, OH 45458-1858<br />
    P: 888.781.7567
</p>