@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color: cadetblue">

    <h1>Team 7 Centric Consulting Project</h1>

    <p class="lead"> This is a group project for senior-level MIS students at Ohio University.</p>
    <p><a href="https://localhost:44302/profileinfoes/Create" class="btn btn-primary btn-lg">Register &raquo;</a>  &nbsp; <a href="https://localhost:44302/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
</div>



<html lang="en">
<head>

    <title>Core Values</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=.5">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="container">
            <h2>Core Values</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="la.jpg" alt="Commit to delivery excellence" style="width:25%; margin:auto">
                    </div>

                    <div class="item">
                        <img src="chicago.jpg" alt="Embrace integrity and openness" style="width:25%;margin:auto">
                    </div>

                    <div class="item">
                        <img src="ny.jpg" alt="Practice responsible stewardship" style="width:25%;margin:auto">
                    </div>
                    <div class="item">
                        <img src="ny.jpg" alt="Invest in an exceptional culture" style="width:25%;margin:auto">
                    </div>
                    <div class="item">
                        <img src="ny.jpg" alt="Ignite passion for the greater good" style="width:25%;margin:auto">
                    </div>
                    <div class="item">
                        <img src="ny.jpg" alt="Strive to innovate" style="width:25%;margin:auto">
                    </div>
                    <div class="item">
                        <img src="ny.jpg" alt="Live a balanced life" style="width:25%;margin:auto">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>

                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>


                </a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="container text-left">


            <h2>Company Accolades</h2>

            <p class="lead"> 1. One of Ohio's best places to work in 2020.</p>
            <p class="lead"> 2. Winner of NorthCoast 99.</p>
            <p class="lead"> 3. BizTech Award for outstanding innovation.</p>
            <p class="lead"> 4. On HR Tech's top 10 change management consulting list.</p>
            <p class="lead"> 5. Comparably says Centric is top 100 for best compensation.</p>

        </div>
    </div>


</body>
</html>