@{
    ViewBag.Title = "Profile Page";
}



<div class="jumbotron" style="background-color: darkslateblue">
    <h1>Your Profile</h1>
    <a href="https://localhost:44302/profileinfoes/employeecontact" class="btn btn-primary btn-default">Personal Contact Info &raquo;</a>
  
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

        #myInput:focus {
            outline: 3px solid #ddd;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>

<div class="Search">
    <button onclick="myFunction()" class="btn-default">Search All Profiles</button>
    <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="#custom">Custom</a>
        <a href="#support">Support</a>
        <a href="#tools">Tools</a>
    </div>
</div>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
<br />
<br />

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="https://localhost:44302/">Landing Page</a></p>
            <p><a href="#">Followers</a></p>
            <p><a href="#">Following</a></p>
            <p><a href="#">Your Recognitions</a></p>
        </div>


        <div class="col-sm-8 text-left">
            <h1>Recent Activity</h1>
            <p>Type activity information into this line</p>
            <hr>
            <h3>Test</h3>
            <p>Type more info here</p>
        </div>
        <div class="col-sm-2 sidenav">
            <textarea class="form-control" id="comments" name="comments" placeholder="Write a Post..." rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-left" type="submit">Post</button>
                </div>
            </div>

        </div>
    </div>
</div>

<p>
    <a href="https://localhost:44302/profileinfoes/profdetails" class="btn btn-primary btn-default">Edit Your Profile &raquo;</a>
    <a href=" https://localhost:44302/Manage" class="btn btn-primary btn-default">Manage Your Profile &raquo;</a>



