@{
    ViewBag.Title = "Email";
}

<a href="http://cob.ohio.edu/mis4200team7/Home/Index" class="btn btn-primary btn-default">Click to return home &raquo;</a>
<h2>Email Status</h2>
@{
    if (TempData["mailError"] != null && TempData["mailError"] != "")
    {
        <h3>
            The following error occurred while trying to send the email message: 100456 .
            @TempData["mailError"].ToString()
        </h3>

    }
    else
    {
        <h3>Email sent successfully!</h3>
    }
}